{% extends "plantilla.html" %}

{% load static %}

{% block body %}

<link rel="stylesheet" href="{% static "css\formulario.css" %}">

<div class="center">

    <h1>Bienvenido a reptilia Chile</h1>
    <p>Porfavor ingrese sus datos para crear una cuenta</p>
    
    <form id="formulario" class="formulario" method = "POST">
      {% csrf_token %}
    
    <div class="text-field-form">
        <label for="nombre"></label> <br>
        <input type="text" name="nombre"  placeholder="nombre" id="nombre" > <br>
        <span id="mensajeNombre" style="color: red;"></span> <br>
    </div>

    <div class="text-field-form">
      <label for="apellido"></label> <br>
      <input type="text" name="apellido"  placeholder="apellido" id="apellido" > <br>
      <span id="mensajeNombre" style="color: red;"></span> <br>
  </div>
    
    <div class="text-field-form">
    <label for="usuario"></label> <br>
      <input type="text" name="usuario" placeholder="Usuario" id="usuario" > <br>
      <span id="mensajeUsuario" style="color: red;"></span> <br>
    </div>
    
    
    <div class="text-field-form">
    <label for="correo"></label> <br>
      <input type="email" name="correo" placeholder="correo" id="correo" > <br>
      <span id="mensajeCorreo" style="color: red;"></span>  <br>
    </div>
     
    
    <div class="text-field-form"> 
        <label for="password1"></label> <br>
        <input type="text" name="password1"  placeholder="Contraseña" id="password1" > <br>
        <span id="mensajeContra" style="color: red;"></span> <br>
    </div>

    <div class="text-field-form"> 
        <label for="password2"></label> <br>
        <input type="text" name="password2"  placeholder="Contraseña" id="password2" > <br>
        <span id="mensajeContra" style="color: red;"></span> <br>
    </div>

    {% if mensaje %}
    <div class="alert alert-danger" role="alert">
        <p> {{ mensaje }} </p>
    </div>
    
      
      {% endif %}
      

    <div class="crear-cuenta">
          <button type="submit">Crea cuenta</button>
        </div>
    
    </form>
    </div>
    
    
 

{% endblock  %}