{% extends "plantilla.html" %}

{% load static %}

{% block body %}

<link rel="stylesheet" href="{% static "css\formulario.css" %}">

<div class="center">

    <h1>Bienvenido a reptilia Chile</h1>
    <p>Porfavor ingrese sus datos para crear una cuenta</p>
    
    <form id="formulario" class="formulario" method = "POST">
      {% csrf_token %}
    
    <div class="text-field-form">
         
      <pre><input type="number" name="rut"  placeholder="rut" id="rut" ></pre>
        
    </div>
  
    <div class="text-field-form">
      
      <pre><input type="text" name="usuario" placeholder="Usuario" id="usuario" ></pre>
        
    </div>

    <div class="text-field-form">
     
      <pre><input type="text" name="nombre"  placeholder="nombre" id="nombre" ></pre> 
      
    </div>
    
    <div class="text-field-form">
     
      <pre><input type="text" name="apellido"  placeholder="apellido" id="apellido" ></pre> 
      
    </div>
    
    
    <div class="text-field-form">
    
      <pre><input type="email" name="correo" placeholder="correo" id="correo" ></pre> 
      
    </div>
     
    
    <div class="text-field-form"> 
         
        <pre><input type="text" name="password1"  placeholder="Contraseña" id="password1" ></pre> 
        
    </div>

    <div class="text-field-form"> 
         
        <pre><input type="text" name="password2"  placeholder="Repita contraseña" id="password2" ></pre> 
        
    </div>

    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
      

    <div class="crear-cuenta">
          <button type="submit">Crea cuenta</button>
        </div>
    
    </form>
    </div>
    
    
 

{% endblock  %}